autom4te.cache/
stamp-h1
config.h.in~
Makefile
autoscan.log
config.log
config.status
configure.scan
libgw.a
*.o
libgw-*.tar.gz
libgw-1.0/
*.dSYM/
build/
src/config.h
src/gwc/config.h
*_config.h
docs/reference/
